h1{
  font-size:50px;
}

body{
  text-align: center;
  text-family: times new roman;
  background-color:#d4a3ff;
}
img{
  width: 700px;
  display: block;
  margin: auto;
}
a:link{
  color:	#4e1974;
  text-decoration:none;
}
a:hover{
  color:#3a2776;
}
a:active{
  color:#3a2776;
}